# git ignores first line in .gitignore, the irony
bin
obj

# .net ignores
/.NET/packages
*.DotSettings
*.suo
*.user
info-log.txt
*.opensdf
*.sdf
/Server/packages
/.NET/build
/build

# java ignores
/Java/website/nbproject/private/
/Java/website/build/
/Java/website/dist/
/Java/library/nbproject/private/
/Java/library/build
/Java/library/dist
/Java/library/target
/Java/library/.settings

/Java/website.acc/dist/
/Java/website.acc/build/
/Java/website.acc/nbproject/private/
/Java/website.qa/dist/
/Java/website.qa/build/
/Java/website.qa/nbproject/private/
/Java/website/target
/Java/website/.settings


# php
/PHP/logs/
/PHP/.idea/
.idea/
/.NET/.vs/config/applicationhost.config
/Java/library.test/nbproject/private/
/Java/library.test/build/
/Java/library.test/dist/
/PHP/nbproject/private/
/PHP/website/nbproject/private/
/PHP/library/nbproject/private/
/Java/website.acc/nbproject/private
/Java/website.qa/nbproject/private
/PHP/library.test/nbproject/private/
Server/.vs/**
.NET/BankId.Merchant.SampleWebsite/XmlDsigLog.txt
PHP/library.test/composer.lock
PHP/library.test/vendor/
PHP/website/ServiceLogs/


#vscode
.vscode/*

#eclipse
.project
.classpath
